<#@ template language="C#" #>
<#@ output encoding="utf-8" extension=".cs" #>
<#@ include file="../constants.ttinclude" #>
/*
*    ЭТО АВТОМАТИЧЕСКИ ГЕНЕРИРУЕМЫЙ ФАЙЛ
*    НЕ РЕДАКТИРУЙТЕ ЕГО - ВСЕ ИЗМЕНЕНИЯ БУДУТ УДАЛЕНЫ
*
*    РЕЗУЛЬТАТ СОХРАНИТЬ ЗДЕСЬ: <#= $"{servicesFullPathName}" #>
*/
