<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    
    <connectionStrings>
        <!--<add name="QWERTY" connectionString="DataSource=QWERTYDEV;UserID=1;Password=;PersistSecurityInfo=True;MinimumPoolSize=5" providerName="System.Data.LinterClient" />-->
        <add name="QWERTY" connectionString="DataSource=QWERTY;UserID=1;Password=1;PersistSecurityInfo=True;MinimumPoolSize=5" providerName="System.Data.LinterClient" />
    </connectionStrings>
    
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LinterConnectionFactory, EntityFramework.Linter, Version=1.0.0.0, Culture=neutral, PublicKeyToken=04c2ab4f9b7aa4d0" />
        <providers>
            <provider invariantName="System.Data.LinterClient" type="System.Data.LinterClient.Entity.LinterProviderServices, EntityFramework.Linter, Version=1.0.0.0, Culture=neutral, PublicKeyToken=04c2ab4f9b7aa4d0" />
        </providers>
    </entityFramework>
  
</configuration>